<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h1>WELCOME</h1>
    <div class="container">
        <h2>Login</h2>

        <form action="/sign_in" method="GET">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div>
                <button type="submit" id="loginButton" class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
    </div>

    <script>
      function openPage() {
          let username = $("#username").val();
          alert(username);
          axios.get("/sign_in", {
              params: {
                  username: username
              }
          })
          .then(response => {
              // Handle the response
              console.log('Response:', response.data);
          })
          .catch(error => {
              // Handle the error
              console.error('Error:', error);
          });
      }
  </script>
</body>
</html>
